
<h1>Producto</h1>

<section>
  <div class="example-label">Opcion</div>
  <div class="example-button-row">
    <button mat-button color="primary">Agregar</button>
  </div>
</section>
<mat-divider></mat-divider>
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">


    <!-- Position Column -->
    <ng-container matColumnDef="idProducto">
      <th mat-header-cell *matHeaderCellDef> idProducto </th>
      <td mat-cell *matCellDef="let element"> {{element.idProducto}} </td>
    </ng-container>

     <!-- Position Column -->
     <ng-container matColumnDef="nombreProducto">
      <th mat-header-cell *matHeaderCellDef> nombreProducto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreProducto}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="existencia">
      <th mat-header-cell *matHeaderCellDef> existencia </th>
      <td mat-cell *matCellDef="let element"> {{element.existencia}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="nombreBodega">
      <th mat-header-cell *matHeaderCellDef> nombreBodega </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreBodega}} </td>
    </ng-container>

     <!-- Position Column -->
     <ng-container matColumnDef="NUMERO">
      <th mat-header-cell *matHeaderCellDef> NUMERO </th>
      <td mat-cell *matCellDef="let element"> {{element.NUMERO}} </td>
    </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef> activo </th>
        <td mat-cell *matCellDef="let element"> {{element.activo}} </td>
      </ng-container>

       <!-- Position Column -->
       <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color= "Basic" (click)="modificacion()" >Modificar</button>
          <button mat-button color= "warn">Eliminar</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
