<div class="padre">
<div class="main-div">
  <mat-card>

      <mat-card-title>Bienvenidos</mat-card-title>
      <br>
      <mat-card-title>Super House</mat-card-title>
      <p style="text-align: center;">
        <img style="width: 5cm; height: 5cm;"  src="../../assets/imagenes/prueba.png" />
      </p>
          <mat-card-content>
      <div>
      <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="email" formControlName="email" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Email</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="pass">
        <mat-icon matSuffix>password</mat-icon>
        <mat-hint>Password</mat-hint>
      </mat-form-field>
    </p>
    </div>
    </mat-card-content>
    <mat-card-actions align="start">
      <button
        mat-raised-button
        color="warn"
        (click)="sesion()"
        style="background-color:royalblue; color:white; width: 5cm"
      >
        Iniciar sesión
      </button>
      <button
      mat-raised-button
      color="warn"
      style="background-color: red; color:white; width: 5cm"
    >
      Registro
    </button>
    </mat-card-actions>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</div>
</div>
