:host {
  display: flex;
  justify-content: center;
  align-items: center;

}

.mat-form-fiel {
  width: 100%;
  min-width: 30px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.mat-button:hover {
  background: blue;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
